@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&family=Heebo:wght@800&family=Jost:wght@400;600&display=swap');
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}
/* body{ */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    /* min-height: 100vh; */
    /* font-family: 'Jost', sans-serif; */
/* } */
body{
	margin: 0;
	padding: 0;
    overflow: hidden;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    display: flex;
    align-items: center;
    justify-content: center;
}
#signupdiv{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: white;
     gap: 5%;
}
.signtext{
    font-size: 2vh;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.signupinput{
    width: 60%;
    height: 10%;
    border-radius: 1vh;
    text-indent: 5%;
    font-size: 1.4vh;
}
.signupbutton{
    width: 50%;
    height: 10%;
    background-color: #573b8a;
    border: none;
    text-indent: 5%;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
}
.signupcontent{
    width: 20%;
    height: 45%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    box-shadow: 5px 20px 50px #000;
    border-radius: 1vh;
    overflow: hidden;
}
.togglesignin{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.loginscroll{
    width: 100%;
    height: 550%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #573b8a;
    background-color: white;
    font-size: 1.2vh;
    font-family: 'Jost', sans-serif;
    /* border-top-right-radius: 35%; */
    /* border-top-left-radius: 35%; */
    overflow: hidden;
    flex-direction: column;
    gap: 9%;
    border-radius: 60% / 10%;
    transition: all 1s ease 0s;
    user-select: none;
}
.signinbutton{
    width: 50%;
    height: 10%;
    background-color: #573b8a;
    border: none;
    text-indent: 5%;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
}
#notesapp{
    width: 100vw;
    height: 100vh;

}
#notebookdiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 5% 90%;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
}
#headerDiv{
    display: grid;
    grid-template-columns: 8% 5% 75% 8% 4%;
    grid-template-rows: 100%;
    background-color: #ffffff;
}
#notebookimgdiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* text-indent: 2%; */
    gap: 5%;
    letter-spacing: 1.5%;
    font-size: 1.9vh;
}
#userdiv{
    grid-column-start: 5;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.2vh;
    cursor: pointer;
}
#newnotebookdiv{
    grid-column-start: 4;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    display: flex;
    align-items: center;
    flex-direction: center;
    cursor: pointer;
    user-select: none;
    padding-left: 1vh;
}
#newnotebookdiv:hover{
    background-color: rgb(169, 169, 169);
}
#notebooktextdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}
#booksdiv{
    width: 96%;
    height: 94%;
    padding: 2%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
*::-webkit-scrollbar{
    display: none;
}
.note{
    width: 13%;
    height: 32%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.notestyle{
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input{
    width: 85%;
    height: 14%;
    /* background: #e0dede; */
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.7vh;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
}
.input:hover{
    background: #e0dede;

}
.bookimg{
    width: 100%;
    height: 100%;
}
.notestyle:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}